<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.css">
    <title>Email Validation</title>
</head>
<body>
    <h1>Email validation</h1>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <form action="/add" method="post">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Email">
        <input type="submit" value="Add email!">
    </form>
</body>
</html>